<header class="bg-blue-600 text-white px-4 py-3 shadow-md">
    <nav class="max-w-5xl mx-auto flex justify-between items-center">
      <h1 class="text-lg font-bold">Task Manager</h1>
      <ul class="flex space-x-6 text-sm">
        <li><a routerLink="/tasks" routerLinkActive="font-bold underline text-yellow-300">Task</a></li>
        <li><a routerLink="/login" routerLinkActive="font-bold underline text-yellow-300">Login</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="font-bold underline text-yellow-300">Dashboard</a></li>

      </ul>
    </nav>
  </header>
  